body{
    background-color: #042940;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

#CV{
    background-color: #005c53;
    display: flex;
    justify-content: center;
    padding: 1em;
}

#left{
    width: 15em;
    padding: 1em;
}
.title{
    padding-top: 2em;
    color: #d6d58e;
    font-weight: bolder;
    font-size: 1.2em;
}
.title2{
    color: #d6d58e;
    font-weight: bolder;
    font-size: 1em;
    padding-top: 1em;
    padding-left: 0.5em;
    
}
.dato{
    color: #d6d58e;
    font-size: 1em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.space{
    padding-top:20em;
}

#right{
    background-color: #d6d500;
    padding: 5px;
    display: inline-block;
    width: 35em;
}
#top{
    padding: 1em;
    display: flex;
    justify-content: center;
}
#name{
    font-size: 1.5em;
    font-weight: bolder;
}
#bottom{
    background-color: none;
    padding: 2.8em;
}
.title3{
    font-weight: bolder;
    font-size: 1em;
    padding-top: 1em;
    
}
.lorem{
    
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 1.1em;
}
